body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* HERO SECTION */
.hero-section {
    height: 100vh;
    background: url('../images/bus-bg.jpg') no-repeat center center/cover;
    position: relative;
}

/* Dark overlay */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.navbar-brand {
    font-size: 22px;
}
